@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

:root {
  --main-color: #f4f4f4;
  --primary-color: #744402;
  --text-color: #000;
  --transition: 0.4s ease-out;
  --white-bg: #ffffff;
  --cards-color: #744402;
  --font: 'Poppins', sans-serif;
}

*,
body {
  font-family: 'Poppins', sans-serif;
}

.navbar-nav a {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbar-nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav a:hover:after {
  width: 100%;
  left: 0;
}
.navbar .navbar-brand {
  object-fit: contain;
  width: 100px;
  height: 60px;
}
.intro {
  padding-top: 5rem;
  height: 100vh;
  background: var(--main-color);
}
.right-intro {
  line-height: 2.5rem;
  margin-top: 5rem;
}
.right-intro .btn-more {
  color: var(--primary-color);
}
.intro .circle {
  height: 80px;
  width: 80px;
  background-image: var(--cards-color);
  border-radius: 50%;
  border-color: 2px solid var(--text-color);
}

.intro .circle:hover {
  background: var(--primary-color);
  transition: var(--transition);
}

.intro .fa-quote-left {
  font-size: 40px;
  position: relative;
  margin-left: 20px;
  margin-top: 18px;
  color: var(--main-color);
}

.intro .text-one {
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 500;
}
.intro .text-two {
  color: var(--primary-color);
}

.intro .intro-lady {
  position: absolute;
  height: 80%;
  width: auto;
  object-fit: cover;
}
.intro-card {
  width: 100%;
  height: 12rem;
  background: var(--white-bg);
  position: relative;
  padding-top: 10px;
  margin-top: 25px;
  border-radius: 15px;
  filter: opacity(0.6);
  text-align: center;
}
.intro-card .card-text {
  font-size: 13px;
}

.intro-card .card-fa {
  font-size: 40px;
  color: var(--primary-color);
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
}
/*================services we offer===========*/
#services {
  background: var(--main-color);
  /* height: 100vh; */
  position: absolute;
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 0;
  padding-top: 2rem;
}
.service {
  font-family: 'poppins';
  font-size: 24px;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  letter-spacing: 0.5rem;
}

#services .service-pic {
  width: 19rem;
  height: 14rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card-service h3 {
  text-align: center;
  font-size: 14px;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
}

.rule {
  height: 3px;
  width: 197px;
  background-color: var(--cards-color);
  text-align: center;
  position: relative;
  left: 41%;
  margin-bottom: 4rem;
}
.card-service {
  perspective: 170rem;
  position: relative;
  height: 19rem;
  max-width: 400px;
  margin: 0.5rem;
  margin-bottom: 10rem;
  box-shadow: none;
  background: none;
}

.card-side {
  height: 25rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: var(--text-color);
  margin-bottom: 5rem;
}
.card-side .btn-more{
  background-color: #744402;
  color: var(--main-color);
  margin: 5px;
}
.card-side .btn-more:hover{
background: #744302
}
.card-side.back {
  transform: rotateY(-180deg);
  background-color: #1c1b17;
  color: var(--main-color);
  font-size: 12px;
  height: 27rem;
}
.card-side.back p {
  font-size: 12px;
}
.card-side.front {
  background-color: var(--cards-color);
color: var(--main-color);
}

.card-service:hover .card-side.front {
  transform: rotateY(180deg);
}

.card-service:hover .card-side.back {
  transform: rotateY(0deg);
}

/* trusted parters*/

#trust {
  background: var(--white-bg);
  height: 100vh;
  width: 100%;
  margin-top: 80rem;

}
#trust .trust-text {
  font-family: 'poppins';
  font-size: 24px;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  letter-spacing: 0.5rem;
  padding-top: 7rem;
}

.trust .rule {
  height: 3px;
  width: 450px;
  background-color: var(--cards-color);
  text-align: center;
  position: relative;
  left: 30%;
  margin-bottom: 4rem;
}

/*swiper*/
.swiper {
  width: 50%;
  height: 60vh;
  justify-content: center;
  margin-top: 2cm;
  margin-bottom: 2cm;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
#trust .swiper-button-prev, #trust .swiper-button-next{
  color: var(--main-color);
}

.swiper-slide:nth-child(1n) {
  background: var(--cards-color);
}

.swiper-slide:nth-child(2n) {
  background: var(--cards-color);
}

.swiper-slide:nth-child(3n) {
  background: var(--cards-color);
}

.swiper-slide:nth-child(4n) {
  background: var(--cards-color);
}

/* next and preview button*/
.swiper .swiper-button-prev {
  color: var(--primary-color);
}

.swiper .swiper-button-next {
  color: var(--primary-color);
}
/*==================about===============*/
#about {
  padding-top: 8rem;
  margin-bottom: 2rem;
  height: 80vh;
}
.about-head {
  font-family: 'poppins';
  font-size: 24px;
  margin-top: 5rem;
  text-transform: uppercase;
  font-family: var(--font);
  letter-spacing: 0.5rem;
}
#about .rule {
  height: 3px;
  width: 420px;
  background-color: var(--cards-color);
  position: relative;
  left: 0%;
  margin-bottom: 3rem;
}

#about p {
  font-size: 12px;
}

#about .btn-more {
  background: var(--primary-color);
  letter-spacing: 0.2rem;
  color: var(--main-color);
}

#about .about-photo {
  position: absolute;
  height: 70%;
  width: 15cm;
  object-fit: contain;
  align-items: center;
  padding-top: 10rem;
}

/*==================testimonails==============*/
#testify {
  background: var(--main-color);
  height: 100vh;
  width: 100%;
  margin-top: 7rem;
}
#testify .rule {
  height: 3px;
  width: 255px;
  background-color: var(--cards-color);
  text-align: center;
  position: relative;
  left: 38%;
  margin-bottom: 4rem;
}
.testify-text {
  font-family: 'poppins';
  font-size: 25px;
  margin-top: 5rem;
  padding-top: 8rem;
  text-transform: uppercase;
  font-family: var(--font);
  letter-spacing: 0.5rem;
  text-align: center;
}
.card {
  border-radius: 10px;
  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}

.ratings i {
  color: var(--primary-color);
}
/*==============footer==================*/
#footer {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}

.container .footer-text {
  font-size: 13px;
  letter-spacing: 0.1rem;
}
.social {
  list-style-type: none;
  display: flex;
}

.social li a {
  text-decoration: none;
  margin: 1rem;
  font-size: 27px;
  transition: var(--transition);
  color: var(--cards-color) ;
}
.social li a:hover{
color:var(--primary-color) ;
}

.support_links h5 {
  letter-spacing: 0.3rem;
  font-size: 14px;
  color: var(--cards-color);
}
.support_links ul li {
  list-style-type: none;
  font-size: 14px;
  padding: 5px;
}
.support_links ul li a {
  text-decoration: none;
  color: var(--text-color);
}
.support_links ul li a:hover {
  color: var(--primary-color)
}

.single_info p {
  font-size: 13px;
}
.widget_contact h5 {
  font-size: 14px;
  letter-spacing: 0.3rem;
  color: var(--cards-color);
}
.widget_contact .single_info a{
color: var(--text-color);
  text-decoration: none;
}
.copyright_area {
  text-align: center;
}
.copyright_text {
  letter-spacing: 0.2rem;
  color: var(--text-color);
  font-size: 12px;
}
/*============media qurries for mobile view==============*/

@media only screen and (max-device-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .navbar .navbar-brand {
    object-fit: contain;
    width: 50px;
    height: auto;
  }
  .intro {
    padding-top: 5rem;
    height: 85vh;
  }

  .right-intro {
    line-height: 2.5rem;
    margin-top: 3rem;
  }

  .intro .intro-lady {
    position: absolute;
    max-width: 90%;
    height: auto;
    display: block;
    object-fit: contain;
  }
  .intro-card {
    width: 100%;
    height: 5cm;
    background: var(--white-bg);
    position: absolute;
    margin-top: 12cm;
    display: none;
  }
  .card-body {
    margin-top: 1rem;
    display: flex;
  }
  .intro-card .card-text {
    font-size: 10px;
    letter-spacing: 0.2rem;
    display: none;
  }
  .intro-card .card-head {
    font-size: 12px;
  }

  .intro-card .card-fa {
    font-size: 30px;
    color: var(--primary-color);
  }

  /*service*/
  #services {
    height: 100%;
    z-index: 1;
    margin-bottom: 0;
  }

  .service {
    font-size: 15px;
    margin-top: 0;
    text-align: center;
    letter-spacing: 0.5rem;
    padding-top: 4rem;
  }
  .rule {
    height: 3px;
    width: 147px;
    position: relative;
    left: 30%;
    margin-bottom: 4rem;
  }

  .card-service {
    margin-bottom: 10rem;
    position: relative;
  }
  .card-side {
    position: absolute;
  }
  .card-service h3 {
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.1rem;
  }
  .card-side.back {
    height: 20rem;
  }

  /* about*/
  #about {
    padding-top: 1rem;
    margin-bottom: 1rem;
    height: 60vh;
    z-index: 1;
  }

  .about-head {
    font-size: 15px;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
  }

  #about .rule {
    height: 3px;
    width: 240px;
    position: relative;
    left: 0%;
    margin-bottom: 1rem;
  }

  #about .btn-more {
    font-size: 12px;
    letter-spacing: 0.1rem;
    color: var(--main-color);

  }

  #about .about-photo {
    padding-top: 1rem;
    width: 329px;
    height: 300px;
    padding-bottom: 10rem;
  }
  /* parterns*/
  #trust {
    margin-bottom: 1rem;
    height: auto;
    /* position: relative; */
    padding-top: 110rem;
    width: auto;

  }

  #trust .trust-text {
    font-size: 15px;
    margin-top: 0.1rem;
    padding-top: 2rem;
  }

  .trust .rule {
    height: 3px;
    width: 330px;
    text-align: center;
    position: relative;
    left: 3%;
    margin-bottom: 4rem;
  }

  .swiper {
    /* max-width: 100%; */
    height: 40vh;
    width: 35vh;
    justify-content: center;
    margin-top: 1cm;
    margin-bottom: 0.1rem;
  }
  .swiper-wrapper {
    width: 100%;
  }
  .swiper-wrapper .clientee-pic {
    object-fit: contain;
    width: 200px;
    height: 450px;
  }

  /*testimonail*/
  #testify {
    padding-top: 1cm;
    height: 100%;
  }
  .testify-text {
    padding-top: 0.1rem;
    font-size: 15px;
    margin-top: 0.4rem;
    letter-spacing: 0.2rem;
  }
  #testify .rule {
    height: 3px;
    width: 150px;
    position: relative;
    left: 28.5%;
    margin-bottom: 4rem;
  }
  #testify .card {
    margin-bottom: 2rem;
  }
  #footer {
    padding: 0 0 5px 5px;
  }
  ul.social {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .support_links {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .support_links ul {
    margin: 0;
    padding: 0;
  }
}
